
/* CSS Variables */
:root {
    --font-size-title: 12px;
    --font-size-xs: 0.85em;
    --font-size-sm: 1em;
    --font-size-md: 1.2em;
    --font-size-lg: 1.3em;
}

@media print {
    #curriculum {
        display: table;
        width: 100%;
        height: 100vh;
    }

    .col-1,
    .col-2 {
        display: table-cell;
        vertical-align: top;
    }
}

/* BASE */

body {
    font-family: "PT Serif", Georgia, serif;
    line-height: 1.5;
    font-size: 0.85em;
    margin: 0;
    background-color: #ffffff;
}

#curriculum {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%; /* 30 70 */
}

.col-1{
    background-color: #005041;
    color: #ffffff;
}

.col-2{
    padding: 20px 40px 0 40px;
}

/* ************************/
/* HEADER                 */
/* ************************/


/* ************************/
/* SECTION CURRICULUM     */
/* ************************/

.section-title {
    font-size: var(--font-size-title);
    font-weight: bold;
    margin-bottom: 10px;
}

/* ************************/
/* PROFILE SECTION        */
/* ************************/


/* ************************/
/* WORK EXPERIENCE SECTION*/
/* ************************/

#work-experience .job-position .section-subtitle p{
    font-size: var(--font-size-sm);
    font-weight: bold;
    margin: 2px 0 0 0;
}

/* ************************/
/* HARD SKILLS SECTION    */
/* ************************/

/* ************************/
/* EDUCATION SECTION      */
/* ************************/
